
body {
    width: 960px;
    margin-top: 10px;
    padding: 5px;
    border: solid 1px black;
}

body, table, .middle_form, header, footer {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

.middle_form {
    text-align: center;
    margin-bottom: 3px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 720px;
}

table a, footer a, .span_middle a {
    text-decoration: none;
    color: #0000ff;
}

table a:hover, footer a:hover {
    color: #4b87d1;
}

td {
    border: solid 1px black;
    padding: 4px;
}

.navigation {
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    margin: 3px;
}

.navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #dddddd;
}

.navigation a.current {
    background-color: #008CBA;
    color: white;
}

.website_name {
    border: solid 1px black;
    padding: 5px;
    margin: 3px;
}

.paginator {
    margin: 3px;
    text-align: center;
}

.paginator menu {
    list-style-type: disc;
    padding: 0px;
}

.paginator li {
    color: black;
    text-align: center;
    font-size: 17px;
    display: inline;
}

.paginator li span {
    padding: 4px 4px;
}

.paginator li a {
    color: blue;
    text-decoration: none;
    padding: 4px 4px;
}

.paginator li a:hover {
    color: white;
    background-color: blue;
}

.span_right {
    vertical-align: middle;
    display: inline-block;
    align-self: center;
}

.bio {
    margin: 12px;
    padding: 6px;
    border: 1px solid black;
    text-align: center;
}

.user_img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px black solid;
    padding: 2px;
    max-width: 250px;
    height: 250px;
}

img.user_img {
    display: block;
}

div.user_img {
    text-align: center;
    line-height: 244px;
}

.span_middle {
    text-align: center;
}

.new_book {
    text-align: left;
    margin: 3px;
}

.new_book input {
    margin: 1px;
}